.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #333;
  --primary-color: #041c65;
  --secondary-color: #3660e0;
  --inverted-primary-color: #ccc;
  --inverted-secondary-color: rgb(10, 205, 153);
}